PORT=
MONGO_URI=
CLIENT_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PHONE=
SEED_ADMIN_PASSWORD=


NODE_ENV=